* {
  font-family: 'Josefin Sans', sans-serif;
}

@media (min-width: 768px) {
 
}


@media (min-width: 1200px) {
  
}
body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.banner {
  background-color: #BAB5CD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  color: #000000;
}

.banner-text {
  margin: 0;
}

.banner-button {
  background-color: #F3E7FF;
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  border: none; 
}
  
.banner-button:hover {
  opacity: 0.8;
}

html {
  scroll-behavior: smooth;
}

.main-header {
  background-color: #F3E7FF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: relative; 
  z-index: 10; 
  
}

.logo {
  display: flex;
  align-items: center;
  height: 100%; 
}

.logo img {
  max-height: 150px; 
  width: auto; 
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  height: 100%; 
  align-items: center; 
  flex-direction: column; 
  gap: 10px;
}

@media (min-width: 768px) {
  .main-header {
      flex-direction: row;
      align-items: center;
      padding: 15px 40px;
  }

  .navigation ul {
      flex-direction: row; 
      gap: 30px;
  }
}


.navigation a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
}

.navigation a:hover {
  opacity: 0.7;
}

.hero-section {
  background-image: url('Bilder/background.jpg'); 
  background-size: cover; 
  background-position: center; 
  color: #E5E5E5; 
  text-align: center; 
  padding: 250px 20px; 
  position: relative;
}

.hero-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: clamp(5rem, 8vw, 16rem); 
  margin: 0 0 50px;
  text-align: center; 
}




.hero-content p {
  font-size: 3rem; 
  margin: 0 0 30px;
}
.hero-content p {
  font-size: 3rem; 
  margin: 0 0 60px; 
  padding-bottom: 50px; 
}

.hero-button {
  background-color: #F3E7FF; 
  color: #000000; 
  text-decoration: none;
  padding: 30px 60px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 20px; 
}

.hero-button:hover {
  opacity: 0.8; 
}

.about-section {
  background-color: #EADEF6;
  padding: 50px 20px; 
}

.about-container {
  display: flex;
  flex-direction: column; 
  max-width: 1200px;
  margin: 0 auto;
  align-items: center; 
}

.about-image {
  order: 2; 
  text-align: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 0px; 
}

.about-text {
  order: 1; 
  text-align: center; 
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #262626; 
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 1rem;
}

.donation-projects {
  background-color: #F2EEFF;
  padding: 50px 20px;
  text-align: center;
}

.donation-projects h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #262626;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-box {
  background-color: #EADEF6;
  padding: 0; 
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project-box img {
  width: 100%; 
  height: 150px; 
  object-fit: cover; 
  margin: 0; 
}

.project-box h3 {
  font-size: 1.5rem;
  color: #262626;
  margin: 20px 0 15px;
  padding: 0 10px;
}

.project-box p {
  font-size: 1rem;
  color: #000000;
  line-height: 1.6;
  margin: 0 10px 20px;
  flex-grow: 1; 
}

.project-button {
  background-color: #BAB5CD;
  color: #000000;
  text-decoration: none;
  padding: 10px 20px; 
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 20px auto; 
  max-width: 150px; 
  display: block; 
  text-align: center; 
}

.project-button:hover {
  opacity: 0.8;
}

.art-gallery {
  background-color: #EADEF6;
  padding: 60px 20px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.art-gallery h2 {
  font-size: 2rem;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.art-gallery .arrow {
  font-size: 1.5rem;
  cursor: pointer;
  color: #262626;
  user-select: none;
}

.carousel {
  overflow: hidden;
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  position: relative;
}

.carousel-track {
  display: flex;
  gap: 15px; 
  transition: transform 0.5s ease-in-out; 
  will-change: transform;
}

.carousel img {
  flex-shrink: 0;
  width: 300px; 
  height: 480px; 
  object-fit: cover; 
}

.carousel img:last-child {
  margin-right: 0;
}

.event-calendar {
  background-color: #F2EEFF;
  padding: 50px 20px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.event-calendar h2 {
  font-size: 2.5rem;
  color: #262626;
  margin-bottom: 20px;
}

.calendar-description {
  font-size: 1rem;
  color: #262626;
  line-height: 1.6;
  margin: 20px auto; 
  padding: 0 40px; 
  max-width: 800px; 
  text-align: center; 
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.event-item {
  display: flex;
  align-items: center;
  background-color: #EADEF6;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  gap: 30px; 
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.event-date {
  font-size: 1rem; 
  font-weight: bold;
  color: #262626;
  text-align: center;
  min-width: 100px;
  line-height: 1; 
  align-self: flex-start; 
  margin-top: 5px;
}

.event-details {
  flex: 1; 
  text-align: left;
  margin-right: 30px; 
}

.event-details h3 {
  font-size: 1.5rem;
  color: #262626;
  margin: 0; 
}

.event-details p {
  font-size: 1rem;
  color: #000000;
  line-height: 1.5;
  margin: 10px 0 0; 
}

.event-button {
  background-color: #BAB5CD;
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0px;
  white-space: nowrap;
  flex-shrink: 0; 
}

.event-button:hover {
  opacity: 0.8;
}

.artist-section {
  background-color: #EADEF6;
  padding: 50px 20px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.artist-section h2 {
  font-size: 2.5rem;
  color: #262626;
  margin-bottom: 20px;
}

.artist-description {
  font-size: 1rem;
  color: #262626;
  line-height: 1.6;
  margin-bottom: 40px;
  max-width: 800px;
  margin: 0 auto 40px;
}

.artist-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.artist-item {
  background-color: #F2EEFF;
  border-radius: 0px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.artist-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0px;
  margin-bottom: 15px;
}

.artist-item h3 {
  font-size: 1.5rem;
  color: #262626;
  margin-bottom: 10px;
}

.artist-item p {
  font-size: 1rem;
  color: #000000;
  line-height: 1.5;
}


.contact-section {
  background-color: #F2EEFF;
  padding: 50px 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
}

.contact-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.contact-form {
  flex: 1;
  background-color: #F2EEFF;
  padding: 20px 30px;
  border-radius: 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  font-size: 2rem;
  color: #262626;
  margin-bottom: 20px;
}

.contact-form p {
  font-size: 1rem;
  color: #262626;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 1rem;
  color: #262626;
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%; 
    padding: 10px;
    font-size: 1rem;
    color: #262626;
    background-color: #EADEF6;
    border: none;
    border-radius: 0px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group select {
    appearance: none; 
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23262626' d='M2 0L0 2h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 10px; 
}


.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.submit-button {
  background-color: #BAB5CD;
  color: #000000;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background-color: #a49ab7;
  opacity: 0.9;
}

.checkbox-group {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.checkbox-group input[type="checkbox"] {
  width: 20px; 
  height: 20px; 
  margin: 0; 
  border: 2px solid #BAB5CD; 
  background-color: #EADEF6; 
  border-radius: 0px; 
  appearance: none; 
  cursor: pointer;
  position: relative; 
}

.checkbox-group input[type="checkbox"]:checked {
  background-color: #BAB5CD; 
  border-color: #BAB5CD; 
}

.checkbox-group input[type="checkbox"]:checked::after {
  content: '✓'; 
  font-size: 14px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-group label {
  font-size: 1rem;
  color: #262626;
  line-height: 1.2;
}

.newsletter-section {
  background-color: #EADEF6;
  padding: 50px 20px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.newsletter-container {
  background-color: #F2EEFF;
  padding: 30px 20px;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.newsletter-container h2 {
  font-size: 2rem;
  color: #262626;
  margin-bottom: 10px;
}

.newsletter-container p {
  font-size: 1rem;
  color: #262626;
  margin-bottom: 20px;
  line-height: 1.5;
}

.newsletter-form .form-group {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.newsletter-form input[type="email"] {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  background-color: #EADEF6;
  border: none;
  border-radius: 0px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.newsletter-form input[type="email"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.newsletter-button {
  background-color: #BAB5CD;
  color: #000000;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.newsletter-button:hover {
  background-color: #a49ab7;
  opacity: 0.9;
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.checkbox-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0;
  border: 2px solid #BAB5CD;
  background-color: #EADEF6;
  border-radius: 0px;
  appearance: none;
  cursor: pointer;
  position: relative;
}

.checkbox-group input[type="checkbox"]:checked {
  background-color: #BAB5CD;
  border-color: #BAB5CD;
}

.checkbox-group input[type="checkbox"]:checked::after {
  content: '✓';
  font-size: 14px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-group label {
  font-size: 1rem;
  color: #262626;
}

.social-media {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media a img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-media a img:hover {
  transform: scale(1.1);
}


.footer {
  background-color: #F2EEFF;
  padding: 150px 20px; 
  font-family: 'Josefin Sans', sans-serif;
  color: #262626;
  position: relative; 
}

.footer-container {
  display: flex;
  justify-content: space-between; 
  max-width: 1200px;
  margin: 0 auto;
  position: relative; 
}

.footer-center {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.footer-center img {
  height: 300px; 
}

.footer-left,
.footer-right {
  font-size: 1rem;
  color: #262626;
}

.footer-left a {
  text-decoration: none;
  color: #262626;
  margin-right: 10px;
}

.footer-left a:hover {
  text-decoration: underline;
}

.footer-right {
  text-align: right;
}
